<div class="app-container">
  <!-- Sidebar and Content Wrapper -->
  <div class="app-body">
    <!-- Sidebar Navigation -->
    <nav class="sidebar">
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Database Settings</a
          >
        </li>
        <li><a routerLink="/org" routerLinkActive="active">Organization</a></li>
        <li>
          <a routerLink="/biometric" routerLinkActive="active">Biometric</a>
        </li>
        <li><a routerLink="/dtr" routerLinkActive="active">DTR</a></li>
      </ul>
    </nav>

    <!-- Main Content Area -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
