/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Correct the problematic Bootstrap selector */
.form-floating label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
